@import './Constans.scss';
//we take advantage of the specificity
.Hero{
    .image-forecast{
        .data-forecast{
            .weather, .temp{
                box-shadow: -1px 1px 0px 1px black;
            }
        }
    }
}
//
.image-forecast{
    box-shadow: -2px 2px 5px 1px black;
    position:relative;
    border-radius:2em;
    width: 80%;
    margin: 0 auto;
    background-image:url("../images/img-Bogota.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    .title-bogota{
        color:$violet;
        text-shadow: -2px 2px 1px black;
        position: relative;
        top: 25px;
        left: 120px;
    }
    #icon-map{
        display: block;
        position: relative;
        top: -33px;
        left: 80px;
        width: 30px;

    }
}
.data-forecast{
    position:absolute;
    top: 25%;
    left: 0px; //is best 
    // left: -12%;
}
.weather{
    line-height: 0.1px;
    text-align: center;
    width: 75px;
    height: 75px;
    border-radius: 1em;
    background:$violet-dark;
    img{
        margin-top:10px;
        display: inline-block;
        width: 55%;
    }
    span{
        color: white;
        font-size: small;
    }

}
.temp{
    color:white;
    text-align: center;
    font-size: 1.3em;
    line-height: 70px;
    width: 75px;
    height: 75px;
    border-radius: 1em;
    background:$violet;
}