:root{
    box-sizing: border-box;
}

@import './styles/Constans.scss';
@import './styles/location.scss';
@import './styles/Day.scss';
@import './styles/Hero.scss';

body{
    font-family: 'Roboto', sans-serif;
    background-color: $base-color;
}
.app{
    width: 100%;
    padding: auto;
    margin: auto;

}
.wrapper{
    padding-top: 90px;
    background:#eee;
    max-width:1440px;
    margin:auto;
    width: 100%;
    border-radius: 1em;
}

// Wrapper of Day = Days
.days{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

//container bottom
.conatiner-bot{
display: flex;
justify-content: center;
}



// Responsive
@media only screen and (min-width:300px) and (max-width:375px){
    .conatiner-bot{
        .days{
            width: 100%;
            h3{
                margin: 15px auto;
            }
            .day{
                justify-content: center;
                 width: 100%;
            }
        }
    }
}
@media screen and (max-width:540px){
    .wrapper{
        // width:100%;
        padding-top: 50px;
        .image-forecast{
            height: 30vh;
            .data-forecast{
                top:5%;
            }
        }
    }
    .conatiner-bot{
        flex-direction: column;
        .days{
            margin: auto;
        }
        .section-dummy{
            display: none;
        }
        .location{
            margin: 20px auto;
        }
    }
}
@media only screen and (min-width:541px) and (max-width:992px) {
    .conatiner-bot{
        justify-content: space-around !important;
        .section-dummy{
            display: none;
        }
    }
}
// End Responsive

